body{
    background-image: url(/assets/background.png);
    background-size: cover;
    font-family: Be Vietnam Pro;
    }
    
    .container{
        width: 628 px;
        height: 284 px;
        top: 109px;
        left: 406px;
        gap: 80px;
        opacity: 0px;
    }
    
    
    .bandeau-accueil{
        width: 300px;
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
    
    }
    .welcome{
    font-size: 42px;
    font-weight: 400;
    line-height: 53.13px;
    }
    